:root {
    --appbar-item-background-hover: #f75354;
    --appbar-item-color-hover: #ffffff;
    --kbd-background: #ff9e9e;
    --secondary-block-background: #f6dedd;
    --secondary-block-color: #191919;
    --prefooter-background: #f1f1f1;
    --prefooter-color: #191919;
    --accent-block-background: #fff8f8;
    --accent-block-color: #191919;
}

.dark-side {
    --prefooter-background: #27282e;
    --prefooter-color: #ffffff;
    --accent-block-background: #27282e;
    --accent-block-color: #ffffff;
}

@font-face {
    font-family: "eUkraine Light";
    src: url('/fonts/e-Ukraine-Light.woff2') format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "eUkraine Medium";
    src: url('/fonts/e-Ukraine-Medium.woff2') format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "eUkraine Regular";
    src: url('/fonts/e-Ukraine-Regular.woff2') format("woff2");
    font-style: normal;
    font-display: swap;
}

.accent-block {
    background-color: var(--accent-block-background);
    color: var(--accent-block-color);
}

.bg-secondary-block {
    background-color: var(--secondary-block-background);
    color: var(--secondary-block-color);
}

.text-header {
    line-height: 1;
    font-size: 26px;
    font-family: "eUkraine Medium", sans-serif;
}

.text-header-2 {
    line-height: 1;
    font-size: 20px;
    font-family: "eUkraine Medium", sans-serif;
}

.text-subheader {
    font-size: 20px;
    line-height: 1;
    font-family: "eUkraine Light", sans-serif;
}

.text-subheader-secondary {
    font-size: 16px;
    line-height: 1;
    font-family: "eUkraine Medium", sans-serif;
}

.text-regular {
    font-size: 16px;
    font-family: "eUkraine Regular", sans-serif;
}

.text-light {
    font-size: 16px;
    font-family: "eUkraine Light", sans-serif;
}

.text-logo {
    white-space: nowrap;
}

body {
    font-family: "eUkraine Regular", sans-serif;
}

.prefooter {
    background-color: var(--prefooter-background);
    color: var(--prefooter-color);
}

@media screen and (min-width: 768px) {
    .text-header {
        font-size: 56px;
    }
    .text-header-2 {
        font-size: 36px;
    }
    .text-subheader {
        font-size: 28px;
    }
    .text-regular {
        font-size: 20px;
    }
}
