---
import Page from "../layouts/DefaultPage.astro"
import {Image} from "astro:assets"
import {Code} from 'astro:components'
---
<Page title="Metro UI - Donate">
    <section class="container-fluid mb-10">
        <div class="container">
            <div class="hero">
                <div class="block-center m-20">
                    <Image src="/images/donate.png" alt="" height="200" width="200" style="transform: scale(1.4)"/>
                </div>
                <div class="text-header text-center mt-10 mb-2 fg-red">
                    Support Metro UI
                </div>
                <div class="text-center mt-4">
                    If you like Metro UI and want to support its development, you can do it by donating.
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="cutter">
            <div class="content">
                Donate with SEPA bank transfer
            </div>
        </div>
    </div>
    
    <section>
        <div class="container">
            <h2 class="text-center"></h2>
            <div class="text-center">
                The Author accepts donations via SEPA bank transfer. Please send payments to:
            </div>

            <div class="row gap-10 mt-4">
                <div class="cell-md-6">
                    <div class="box">
                        <div class="box-title">USD</div>
                        <div class="text-bold">Recipient:</div>
                        <div>Serhii Pimenov</div>
                        <hr class="mt-4 mb-4"/>
                        <div class="mt-2 text-bold">IBAN:</div>
                        <div>UA183052990000026204645062053</div>
                        <hr class="mt-4 mb-4"/>
                        <div class="mt-2 text-bold">BIC:</div>
                        <div>PBANUA2X</div>
                        <hr class="mt-4 mb-4"/>
                        <div class="mt-2 text-bold">Bank:</div>
                        <div>JSC CB PRIVATBANK</div>
                    </div>
                </div>
                <div class="cell-md-6">
                    <div class="box">
                        <div class="box-title">EUR</div>
                        <div class="text-bold">Recipient:</div>
                        <div>Serhii Pimenov</div>
                        <hr class="mt-4 mb-4"/>
                        <div class="mt-2 text-bold">IBAN:</div>
                        <div>UA523052990000026207744445114</div>
                        <hr class="mt-4 mb-4"/>
                        <div class="mt-2 text-bold">BIC:</div>
                        <div>PBANUA2X</div>
                        <hr class="mt-4 mb-4"/>
                        <div class="mt-2 text-bold">Bank:</div>
                        <div>JSC CB PRIVATBANK</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mt-10">
        <div class="cutter">
            <div class="content">
                Other ways to support Metro UI
            </div>
        </div>
    </div>

    <div class="container mt-10 mb-10">
        <div class="row">
            <div class="cell-md-4">
                <div class="box">
                    <div class="box-title text-center">Buy Premium Support</div>
                    <div class="mt-2 d-flex flex-center mt-4">
                        <a href="https://korzh.com/metroui#licensing" class="button pill-button info">
                            <span class="mif-link"></span> https://korzh.com/metroui
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell-md-4">
                <div class="box">
                    <div class="box-title text-center">Donate with PayPal</div>
                    <div class="mt-2 d-flex flex-center mt-4">
                        <a href="https://www.paypal.com/donate/?hosted_button_id=4AM4GN5YT6EEA" class="button pill-button warning">
                            <span class="mif-cc-paypal"></span> Donate with PayPal
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell-md-4">
                <div class="box">
                    <div class="box-title text-center">Donate with Patreon</div>
                    <div class="mt-2 d-flex flex-center mt-4">
                        <a href="https://patreon.com/metroui" class="button pill-button alert">
                            <span class="mif-patreon"></span> https://patreon.com/metroui
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!--<section class="mb-10">-->
    <!--    <div class="container">-->
    <!--        <div class="row gap-10">-->
    <!--            <div class="cell-md-6">-->
    <!--            </div>-->
    <!--            -->
    <!--            <div class="cell-md-6">-->
    <!--                <h3>Donate with PayPal</h3>-->
    <!--                <div>-->
    <!--                    You can also support Metro UI development by donating via PayPal to the following email address:-->
    <!--                </div>-->
    <!--                <div class="box flex-center">-->
    <!--                    <h4 class="m-0">serhii@pimenov.com.ua</h4>-->
    <!--                </div>-->
    <!--                <div class="cutter mt-4"></div>-->
    <!--                <h3>Donate with Patreon</h3>-->
    <!--                <div>-->
    <!--                    You can also support Metro UI development by donating via Patreon:-->
    <!--                </div>-->
    <!--                <div class="box flex-center">-->
    <!--                    <a href="https://patreon.com/metroui"><h4 class="m-0">https://patreon.com/metroui</h4></a>-->
    <!--                </div>-->
    <!--                <div class="cutter mt-4"></div>-->
    <!--                <h3>Buy Premium Support</h3>-->
    <!--                <div>-->
    <!--                    You can also buy premium support on:-->
    <!--                </div>-->
    <!--                <div class="box flex-center">-->
    <!--                    <a href="https://korzh.com/metroui#licensing"><h4 class="m-0">https://korzh.com/metroui</h4></a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
</Page>
