---
import Page from "../layouts/DefaultPage.astro"
import {Image} from "astro:assets"
import { Code } from 'astro:components'
import HeroImage from "../../public/images/strategy.svg"
---
<Page title="Metro UI - Expressive library for impressive coding">
    <section class="container-fluid">
        <div class="container">
            <div class="hero">
                <div class="block-center">
                    <Image src={HeroImage} alt="" height="400" style="transform: scale(1.4)"/>
                </div>
                <div class="text-header text-center">
                    Welcome to <span class="no-wrap fg-red">Metro UI</span>
                </div>
                <div class="text-subheader text-center mt-4">
                    <span data-role="typer" data-delete-delay="2000">
                        First library in Metro Style,
                        7k+ stars on github,
                        Expressive coding...,
                        ...with impressive library,
                        Become a King of coding!
                    </span>
                </div>
                <div class="mt-10">
                    <ul class="inline-list block-center reduce-2 mt-10 mb-10">
                        <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/fork"><span class="mif-github mr-1"></span> Fork</a></li>
                        <li>/</li>
                        <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/archive/refs/heads/master.zip"><span class="mif-download mr-1"></span> Download</a></li>
                        <li>/</li>
                        <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/discussions"><span class="mif-chat mr-1"></span> Discuss</a></li>
                    </ul>
                </div>

                <div class="row">
                    <div class="cell-md-3"></div>
                    <div class="cell-md-6">
                        <div class="d-flex flex-row">
                            <code class="m-1 p-2 border bd-default text-center w-100 c-pointer" data-copy-to-clipboard="npm i @olton/metroui">
                                npm i @olton/metroui
                                <div class="reduce-4">click to copy to clipboard</div>
                            </code>

                            <code class="m-1 p-2 border bd-default text-center w-100 c-pointer" onclick="window.location.href = `/quick-start`">
                                Quick Start
                                <div class="reduce-4">click to open</div>
                            </code>
                        </div>
                    </div>
                    <div class="cell-md-3"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mb-10">
        <div class="container">
            <h1 class="text-center text-header"><span class="reduce-3">Main <span class="fg-red">&lt;Features&gt;</span></span></h1>
            <div class="row">
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/html-first.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">Html-First</div>
                            <div>Using Metro UI is straightforward. You don't even need to know javascript to make fully functional websites that interact with the user.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/javascript.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">JS Routines</div>
                            <div>Metro UI includes several JS libs to work with strings, color, animations, datetime, and others.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/dark-light.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">Dark &amp; Light</div>
                            <div>Support dark-light switching out of the box, including the relevant components.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/docs.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">Good Docs</div>
                            <div>Metro UI has detailed documentation and good examples. Requests an additional example.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mb-10">
        <div class="container">
            <h1 class="text-center text-header"><span class="reduce-3">Started <span class="fg-red">&lt;Any&gt;</span></span></h1>
            <div class="block-center">
                <div class="w-75 text-center">
                    Jump right into building with Metro UI — use the CDN, install it via package manager, or download the source code.
                </div>
            </div>
            <div class="row mt-4">
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/cdn.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">CDN</div>
                            <div>The CDN is provided by the excellent provider <a href="https://keycdn.com">KeyCDN</a>. You can also use other free CDNs.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/process.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">NPM</div>
                            <div>Install Metro UI source Less and JavaScript files via <a href="https://npmjs.com/@olton/metroui">npm</a> and build your custom set.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mb-10">
        <div class="container">
            <h1 class="text-center text-header"><span class="reduce-3">Build <span class="fg-red">&lt;With&gt;</span></span></h1>
            <div class="block-center">
                <div class="w-75 text-center">
                    Use any bundler to create your own set of Metro UI components.
                </div>
            </div>
            <div class="row mt-4">
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/esbuild.svg" alt="esbuild" width="64" height="64"/>
                    <div>esbuild</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/parcel.svg" alt="esbuild" width="64" height="64"/>
                    <div>Parcel</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/rollup.svg" alt="esbuild" width="64" height="64"/>
                    <div>Rollup</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/vite.svg" alt="esbuild" width="64" height="64"/>
                    <div>Vite</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/webpack.svg" alt="esbuild" width="64" height="64"/>
                    <div>Webpack</div>
                </div>
            </div>
            <div class="block-center mt-4">
                <div class="w-75 text-center">
                    Create your own awesome set of Metro UI components with your favorite bundler. You can see examples of using different bundlers in <a href="https://github.com/olton/metro4-bundlers">this repository</a>.
                </div>
            </div>
        </div>
    </section>


    <!--
    CSS vars
    Powerful Plugins without jQuery accent to using data-* attributes
    Personalize it with Metro Icons Font
    -->
    <section class="container-fluid mt-20 mb-10">
        <div class="container">
            <h1 class="text-header text-center"><span class="reduce-3">CSS <span class="fg-red">&lt;Vars&gt;</span></span></h1>
            <div class="block-center">
                <div class="w-75 text-center">
                    Metro UI is evolving with each release to better utilize CSS variables for global theme styles, individual components, and even utilities.
                </div>
            </div>
            <div class="row mt-4">
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="text-subheader mb-2 border-bottom bd-default pb-4">
                        <span class="mif-sun place-right"></span>
                        :root
                    </div>
                    <div>
                        Metro UI provide dozens of variables for colors, font styles, and more at a <kbd>:root</kbd> level for use anywhere.
                        Variables are divided into global and component variables.
                        <p>Variables names start with the component name and are followed by the name of the property.
                    </div>
                    <div class="border bd-default mt-4">
                        <Code code={`
    :root {
        --body-background: #ffffff;
        --body-color: #191919;
        --border-color: #e8e8e8;
        --link-color: #5a87cb;
        --link-color-hover: #0056B3FF; 
    }
                        `} lang="css" />
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="text-subheader mb-2 border-bottom bd-default pb-4">
                        <span class="mif-moon place-right"></span>
                        :dark-side
                    </div>
                    <div>
                        All Metro UI components support <b>dark ↔ light</b> mode.
                        In Metro UI <kbd>light</kbd> mode is default.
                        For <kbd>dark</kbd> mode you can define variables inside a <kbd>.dark-side</kbd> class.
                        <p>To switch to <kbd>dark</kbd> mode you must add class <b>.dark-side</b> to <kbd>html</kbd> tag. Also you can use special components that switch mode.
                    </div>
                    <div class="border bd-default mt-4">
                        <Code code={`
    .dark-side {
        --body-background: #1e1f22;
        --body-color: #dbdfe7;
        --border-color: #4a4d51;
        --link-color: #5a87cb;
        --link-color-hover: #0056B3FF;
    }
                        `} lang="css" />
                    </div>
                </div>
            </div>
            <div class="remark rounded mt-4">
                <span class="mif-report icon"></span>
                <div>
                    You can override css variables not only in the <kbd>:root</kbd>.
                    If you only need to change one or more components on a page or component(s) in specified area, add your own class to the component (area) and define variables inside that class.
                    More information you can get from <a href="https://docs.metroui.org.ua/">documentation</a>.
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mt-20 mb-10">
        <div class="container">
            <h1 class="text-header"><span class="reduce-3">JS <span class="fg-red">&lt;Plugins&gt;</span></span></h1>
        </div>
    </section>

    <section class="container-fluid mt-20 mb-10">
        <div class="container">
            <h1 class="text-header"><span class="reduce-3">Metro <span class="fg-red">&lt;Icons&gt;</span></span></h1>
        </div>
    </section>
</Page>