---
import Page from "../layouts/DefaultPage.astro"
import Special from "../partials/special.astro"
import Css from "../partials/css.astro"
import Structure from "../partials/structure.astro"
import Build from "../partials/build.astro"
import Started from "../partials/started.astro"
import Main from "../partials/main.astro"
import About from "../partials/about.astro"
import Action from "../partials/action.astro"
import Icons from "../partials/icons.astro"
import TechnicalPartners from "../partials/technical-partners.astro"
import Hero from "../partials/hero.astro"
---

<Page title="Metro UI - Expressive library for impressive coding">

    <Hero />
    <About/>
    <Main/>

    <section class="container-fluid mb-10 accent-block">
        <div class="container">
            <div class="p-10-md p-4-fs h3 text-center" style="line-height: 1.4;">
                Metro UI includes general styles, responsive grid, layouts, typography, 100+ components and javascript routines, 800+ built-in icons,
                and also router for SPA and special data model for creating a reactive web application with two-way data binding.
            </div>
        </div>
    </section>

    <Started/>
    
    <div class="container-fluid mb-10 accent-block pt-10 pb-10">
        <div class="container ">
            <h1 class="text-header text-center"><span class="reduce-3">AI <span class="fg-red">&lt;Assistant&gt;</span></span></h1>
            <div class="box">
                <div class="box-title d-flex flex-row flex-align-center">
                    Welcome to <span class="text-bold ml-1">AI Assistant</span>!
                    <a class="primary button medium ml-auto mb-1" href="https://t.me/Metroui_Assistant_bot" target="_blank">
                        <span class="mif-robot"></span>
                        Start Bot
                    </a>
                </div>
                In alpha test started Telegram Bot <a href="https://t.me/Metroui_Assistant_bot">Metro UI Assistant</a>

                <p>
                    This bot is designed to answer questions about Metro UI and Latte. It bases its answers on the current version of the documentation.
                    To help the bot understand the context of your question, use the keywords Metro UI and Latte.
                </p>
                
                <p>For example:</p>
                <pre><code class="w-100">
    I need help with Metro UI. Tell me about the audio-button component.
                </code></pre>

                <p>
                    The bot and documentation are in alpha testing, so please excuse any inaccuracies and inconsistencies. 
                    The bot runs on the <code>DeepSeek-Chat3:free</code> model and uses MCP <a href="https://context7.com">Context7</a> to search through the documentation.
                </p>
            </div>
        </div>
    </div>
    
    <Build/>
    <Structure/>
    <Css/>
    <Special />
    <Action />

    <div class="container-fluid pt-10 pb-10 accent-block">
        <div class="container">
            <h1 class="text-header text-center"><span class="reduce-3">Code <span class="fg-red">&lt;Test&gt;</span></span></h1>
            <div class="row">
                <div class="cell-md-6">
                    <div class="box h-100 d-flex flex-column flex-justify-center">
                        <h1 class="text-center mt-4 fg-cyan">🥛 Latte</h1>
                        <div class="mt-2">
                            We use <a href="https://latte.org.ua">Latte</a> to test our code. Latte is a powerful testing framework (from Metro UI author) that allows you to write tests for your applications with ease.
                            <p>It supports testing for: JavaScript, TypeScript, HTML elements (DOM enabled), React Components, and entire web pages with built-in headless browser.</p>
                        </div>
                        <div class="text-center mt-auto">
                            <a href="https://latte.org.ua" class="button alert">Get started with Latte</a>
                        </div>
                    </div>
                </div>
                <div class="cell-md-6">
                    <img src="/images/latte.gif" alt="" class="border-radius-10 border bd-default"/>
                </div>
            </div>
        </div>
    </div>

    <Icons />
    <TechnicalPartners />

</Page>