---
import Page from "../layouts/DefaultPage.astro"
import Special from "../partials/special.astro"
import Css from "../partials/css.astro"
import Structure from "../partials/structure.astro"
import Build from "../partials/build.astro"
import Started from "../partials/started.astro"
import Main from "../partials/main.astro"
import About from "../partials/about.astro"
import Action from "../partials/action.astro"
import Icons from "../partials/icons.astro"
import TechnicalPartners from "../partials/technical-partners.astro"
import Hero from "../partials/hero.astro"
---

<Page title="Metro UI - Expressive library for impressive coding">

    <Hero />
    <About/>
    <Main/>
    
    <div class="container-fluid pt-10 pb-10">
        <div class="container">
            <div class="row">
                <div class="cell-md-6">
                    <div class="box h-100 d-flex flex-column flex-justify-center">
                        <h1 class="text-center mt-4">🥛 Latte</h1>
                        <div class="mt-2">
                            We use <a href="https://latte.org.ua">Latte</a> to test our code. Latte is a powerful testing framework (from Metro UI author) that allows you to write tests for your applications with ease. 
                            <p>It supports testing for: JavaScript, TypeScript, HTML elements (DOM enabled), React Components, and entire web pages with built-in headless browser.</p>
                        </div>
                        <div class="text-center mt-auto">
                            <a href="https://latte.org.ua" class="button alert">Get started with Latte</a>
                        </div>
                    </div>
                </div>
                <div class="cell-md-6">
                    <img src="/images/latte.gif" alt="" class="border-radius-10"/>
                </div>
            </div>
        </div>
    </div>
    
    <Started/>
    <Build/>
    <Structure/>
    <Css/>
    <Special />
    <Action />
    <Icons />
    <TechnicalPartners />

</Page>