---
import Page from "../layouts/DefaultPage.astro"
import {Image} from "astro:assets"
---
<Page title="Metro UI Sanbox">
    <section class="container-fluid mb-10" style="margin-top: 100px">
        <div class="container">
            <div class="hero">
                <div class="block-center">
                    <Image src="/images/sandbox.svg" alt="" height="400" width="400" style="transform: scale(1.4)"/>
                </div>
                <div class="text-header text-center mt-10 mb-2">
                    <span class="no-wrap">&lcub;Sandbox&rcub;</span>
                </div>
                <div class="text-center">
                    Soon!
                </div>
            </div>
        </div>
    </section>
</Page>