---
---
<footer>
    <div class="container">
        <div class="block-center mt-4">
            <span class="h5">
                <span class="fg-cyan">Made in </span><span class="fg-yellow">Ukraine</span>
            </span>
        </div>
        <div class="block-center reduce-2">
            <span class="mr-1">Copyright 2012-2024 by</span> <a href="https://pimenov.com.ua/">Serhii Pimenov</a>
        </div>
        <div class="block-center reduce-2">
            <span class="mr-1">Illustrations by</span> <a href="https://www.manypixels.co/">ManyPixels</a>
        </div>
        <div class="block-center reduce-2 mt-10">
            <ul class="inline-list d-flex flex-justify-center reduce-1 mt-0">
                <li><a href="https://mirohost.net/" class="fg-cyan no-decor">Hosting by Mirohost</a></li>
                <li>•</li>
                <li><a href="https://www.keycdn.com/" class="fg-cyan no-decor">CDN by KeyCDN</a></li>
                <li>•</li>
                <li><a href="https://www.jetbrains.com/webstorm" class="fg-cyan no-decor">IDE by JetBrains</a></li>
            </ul>
        </div>
        <div class="block-center reduce-3">
            <div class="text-center mt-10 reduce-3">
                Docs version <span class="docs-version">2024.1</span>.
                Metro UI Codebase licensed under <a class="fg-white" href="https://github.com/olton/Metro-UI-CSS/blob/master/LICENSE">MIT</a>,
                docs <a class="fg-white" href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        color: #d2ffff;
        padding: 20px 10px;
        width: 100%;
    }
</style>

<script src="/metro/metro.js" is:inline></script>
