<nav data-role="appbar" data-expand-point="lg" class="pt-4 pb-4">
    <a href="/" class="app-bar-item-static logo-light-theme">
        <img src="crown-black.svg" alt="Metro UI" width="32" height="32"/>
    </a>
    <a href="/" class="app-bar-item-static logo-dark-theme">
        <img src="crown-white.svg" alt="Metro UI" width="32" height="32"/>
    </a>
    <a href="/" class="app-bar-item-static">
        <div class="e-head text-logo enlarge-2" style="line-height: 1">Metro UI<br/>Components Library</div>
    </a>

    <button class="hamburger menu-down" onclick="this.parentNode.classList.toggle('active'); this.classList.toggle('active')">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

    <ul class="app-bar-menu ml-auto">
        <li><a href="/">Home</a></li>
        <li><a href="https://docs-new.metroui.org.ua/getting-started/introduction/">Quick Start</a></li>
        <li><a href="https://latte.org.ua">Latte</a></li>
        <li><a href="https://docs.metroui.org.ua">Docs</a></li>
        <li><a href="https://github.com/olton/metroui">GitHub</a></li>
        <li><a href="https://discord.gg/bRgdUP7g">Discord</a></li>
    </ul>
    <div class="app-bar-item-static ml-auto-fs ml-0-lg">
        <input type="checkbox" data-role="theme-switcher" data-save-state="true"/>
    </div>
</nav>
