<nav data-role="appbar" data-expand-point="lg" class="pt-4 pb-4 border-bottom" style="border-color: var(--color-light-red)">
    <a href="/" class="app-bar-item-static">
        <img src="/logo.svg" alt="Metro UI" width="32" height="32"/> <span class="ml-1 text-weight-9 enlarge-4 gradient-text gradient-red">Metro UI</span>
    </a>

    <button class="hamburger menu-down" onclick="this.parentNode.classList.toggle('active'); this.classList.toggle('active')">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>

    <div class="app-bar-container ml-auto">
        <ul class="app-bar-menu">
            <li><a href="https://v5.metroui.org.ua/getting-started/quick-start/">Quick Start</a></li>
            <li><a href="https://t.me/Metroui_Assistant_bot" target="_blank">AI Assistant</a></li>
            <li><a href="https://latte.org.ua" target="_blank">Latte</a></li>
            <li><a href="https://v5.metroui.org.ua" target="_blank">Docs</a></li>
            <li><a href="/donate" class="fg-red fg-white-hover">Donate</a></li>
        </ul>
        <div class="app-bar-item-static">
            <a href="https://github.com/olton/metroui" target="_blank" class="button small flat" style="width: 32px"><span class="mif-github"></span></a>
            <a href="https://discord.gg/cxrhV7pGG8" target="_blank" class="button small flat"><span class="mif-discord"></span></a>
            <input type="checkbox" data-role="theme-switcher" data-save-state="true"/>
        </div>
    </div>
</nav>
