<section class="container-fluid mb-10 accent-block">
    <div class="container">
        <div class="p-10-md p-4-fs enlarge-3 text-just">
            Metro UI is an free, open source, html-first toolkit for developing web sites with HTML, CSS, and JS.
            With Metro UI, you can easily and quickly make a site from prototype to production.
            Metro UI includes general styles, responsive grid, layouts, typography, 100+ components and javascript routines, 800+ built-in icons.
        </div>
    </div>
</section>
