<section class="container-fluid concave mb-10 gradient gradient-radial-red">
    <div class="container">
        <div class="p-10-md p-4-fs h3 text-weight-6 text-center fg-white" style="line-height: 1.4;">
            Metro UI is a free, open source, html-first toolkit for developing web sites with HTML, CSS, and JS.
            With Metro UI, you can easily and quickly make a <b>reactive</b> site from prototype to production.
        </div>
    </div>
</section>
