---
import {Image} from "astro:assets"
---
<section class="container-fluid mb-10">
    <div class="container">
        <h1 class="text-center text-header"><span class="reduce-3">Build <span class="fg-red">&lt;With&gt;</span></span></h1>
        <div class="block-center">
            <div class="w-75 text-center">
                Use any bundler to create your own set of Metro UI components.
            </div>
        </div>
        <div class="row mt-4">
            <div class="cell-md-one-fifth">
                <div class="box d-flex flex-column flex-center">
                    <Image src="/images/logos/esbuild.svg" alt="esbuild" width="64" height="64"/>
                    <div>esbuild</div>
                </div>
            </div>
            <div class="cell-md-one-fifth">
                <div class="box d-flex flex-column flex-center">
                    <Image src="/images/logos/parcel.svg" alt="esbuild" width="64" height="64"/>
                    <div>Parcel</div>
                </div>
            </div>
            <div class="cell-md-one-fifth">
                <div class="box d-flex flex-column flex-center">
                    <Image src="/images/logos/rollup.svg" alt="esbuild" width="64" height="64"/>
                    <div>Rollup</div>
                </div>
            </div>
            <div class="cell-md-one-fifth">
                <div class="box d-flex flex-column flex-center">
                    <Image src="/images/logos/vite.svg" alt="esbuild" width="64" height="64"/>
                    <div>Vite</div>
                </div>
            </div>
            <div class="cell-md-one-fifth">
                <div class="box d-flex flex-column flex-center">
                    <Image src="/images/logos/webpack.svg" alt="esbuild" width="64" height="64"/>
                    <div>Webpack</div>
                </div>
            </div>
        </div>
        <div class="block-center mt-4">
            <div class="w-75 text-center">
                Create your own awesome set of Metro UI components with your favorite bundler. You can see examples of using different bundlers in <a href="https://github.com/olton/metro4-bundlers">this repository</a>.
            </div>
        </div>
    </div>
</section>
