---
import { Code } from 'astro:components'
---
<section class="container-fluid mt-20 mb-10">
    <div class="container">
        <h1 class="text-header text-center"><span class="reduce-3">CSS <span class="fg-red">&lt;Vars&gt;</span></span></h1>
        <div class="block-center">
            <div class="w-75 text-center">
                Metro UI is evolving with each release to better utilize CSS variables for global theme styles, individual components, and even utilities.
            </div>
        </div>
        <div class="row mt-4">
            <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                <div class="text-subheader mb-2 border-bottom bd-default pb-4">
                    <span class="mif-sun place-right"></span>
                    :root
                </div>
                <div>
                    Metro UI provide dozens of variables for colors, font styles, and more at a <kbd>:root</kbd> level for use anywhere.
                    Variables are divided into global and component variables.
                    <p>Variables names start with the component name and are followed by the name of the property.
                </div>
                <div class="mt-4">
                    <Code code={`
    :root {
        --body-background: #ffffff;
        --body-color: #191919;
        --border-color: #e8e8e8;
        --link-color: #5a87cb;
        --link-color-hover: #0056B3FF; 
    }`} lang="css" />
                </div>
            </div>
            <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                <div class="text-subheader mb-2 border-bottom bd-default pb-4">
                    <span class="mif-moon place-right"></span>
                    :dark-side
                </div>
                <div>
                    All Metro UI components support <b>dark ↔ light</b> mode.
                    In Metro UI <kbd>light</kbd> mode is default.
                    For <kbd>dark</kbd> mode you can define variables inside a <kbd>.dark-side</kbd> class.
                    <p>To switch to <kbd>dark</kbd> mode you must add class <b>.dark-side</b> to <kbd>html</kbd> tag. Also you can use special components that switch mode.
                </div>
                <div class="mt-4">
                    <Code code={`
    .dark-side {
        --body-background: #1e1f22;
        --body-color: #dbdfe7;
        --border-color: #4a4d51;
        --link-color: #5a87cb;
        --link-color-hover: #0056B3FF;
    }`} lang="css" />
                </div>
            </div>
        </div>
        <div data-role="directive" data-directive="info" data-style="2" class="mt-4" data-title="For information">
            You can override css variables not only in the <kbd>:root</kbd>.
            If you only need to change one or more components on a page or component(s) in specified area, add your own class to the component (area) and define variables inside that class.
            More information you can get from <a href="https://docs.metroui.org.ua/">documentation</a>.
        </div>
    </div>
</section>
