<div class="hero d-flex flex-column flex-center">
    <div class="d3 gradient-text gradient-red" >Metro UI</div>
    <div class="d2 text-center" style="line-height: 1">
        <div class="text-center">The components</div>
        your site <span class="gradient-text gradient-red text-weight-9">Deserves!</span>
    </div>
    
    <div class="d-flex flex-center gap-2 mt-10">
        <button class="alert pill-button"><span class="mif-rocket icon"></span>Getting Started</button>
        <button class=" pill-button gradient-border animated-border bg-default"><span class="mif-robot icon"></span>AI Assistant</button>
    </div>
    
    <div class="mt-10">
        <ul class="inline-list block-center reduce-2 mt-10 mb-10">
            <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/fork"><span class="mif-github mr-1"></span> Fork</a></li>
            <li>/</li>
            <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/archive/refs/heads/master.zip"><span class="mif-download mr-1"></span> Download</a></li>
            <li>/</li>
            <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/discussions"><span class="mif-chat mr-1"></span> Discuss</a></li>
        </ul>
    </div>
</div>

<style>
    @media (min-width: 768px) {
        .hero {
            padding: 120px;
        }
    }
</style>
