---
---
<section class="container-fluid mt-20 mb-10">
    <div class="container">
        <h1 class="text-header"><span class="reduce-3">Metro <span class="fg-red">&lt;Icons&gt;</span></span></h1>
        <div>
            Metro Icons is an open source SVG icon library featuring over 800+ glyphs.
            Use them as SVGs or icon fonts—both options give you vector scaling and easy customization via CSS.
            You can include icons in your project either using a CDN or using your favorite bundler.
        </div>
    </div>
</section>
