---
import {Image} from "astro:assets"
---
<section class="container-fluid mt-20 mb-10 accent-block pt-10 pb-10">
    <div class="container">
        <h1 class="text-header"><span class="reduce-3">&lcub;Libraries&rcub;</span></h1>
        <div>
            Metro UI includes special js modules to work with date and time, strings, colors, html, animations, and hooks.
            These modules were designed specifically to achieve the goals when creating Metro UI, so they should also help you achieve your goals.
        </div>
        <div class="row mt-10">
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">1</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Datetime</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Class and fabric function to work with date and time: parsing, formatting, converting, calculating, ...
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/datetime"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">2</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Str</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Class and fabric function to work with string: counting, transforming, checking, matching...
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/string"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">3</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Farbe</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Class and fabric function to work with colors: parsing, transforming, checking, matching...
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/farbe"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">4</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Html</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        A set of function to create html elements via javascript...
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/html"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">5</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">DOM</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Library to work with DOM elements. Also, it contains the animation functions.
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/dom"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">6</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Hooks</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Special hook functions: useDebounce, useThrottle, useState, useEvent, useEffect.
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/hooks"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">7</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Guardian</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Data validation library. Validate user input with special guardians and parsers.
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/guardian"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">8</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Router</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Class for creating a router for your SPA application.
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/router"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">9</div>
                    <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                    <div class="mt-4 text-subheader-secondary">Model</div>
                    <div class="reduce-4 text-center mt-4 mb-4">
                        Class for creating a reactive model with two-way binding.
                    </div>
                    <div class="mt-auto">
                        <a class="button pill-button" href="https://github.com/olton/model"><span class="mif-github"></span>GitHub</a>
                    </div>
                    <span class="mif-cog box-cog ani-spin"></span>
                </div>
            </div>
            <div class="cell-lg-3 cell-sm-12 border bd-default border-radius-10 p-6">
                <div class="d-flex flex-column flex-no-wrap flex-align-center flex-justify-center h-100">
                    <div>
                        If you're missing something, tell me, and maybe it will appear in the Metro UI.
                        Join the <a class="d-inline-block" href="https://github.com/olton/Metro-UI-CSS/discussions">Discussion!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
