---
import {Image} from "astro:assets"
---
<section class="container-fluid mb-10">
    <div class="container">
        <h1 class="text-center text-header"><span class="reduce-3">Started <span class="fg-red">&lt;Any&gt;</span></span></h1>
        <div class="block-center">
            <div class="w-75 text-center">
                Jump right into building with Metro UI — use the CDN, install it via package manager, or download the source code.
            </div>
        </div>
        <div class="row mt-4">
            <div class="cell-md-4 border bd-default border-radius-10 p-6">
                <div class="feature-card flex-column flex-align-center">
                    <div class="feature-card__image">
                        <Image src="/images/cdn.svg" alt="" width="100" height="160"/>
                    </div>
                    <div>
                        <div class="text-subheader mb-2 border-bottom bd-default pb-4">CDN</div>
                        <div>The CDN is provided by the excellent provider <a href="https://keycdn.com">KeyCDN</a>. You can also use other free CDNs.</div>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 border bd-default border-radius-10 p-6">
                <div class="feature-card flex-column flex-align-center">
                    <div class="feature-card__image">
                        <Image src="/images/process.svg" alt="" width="100" height="160"/>
                    </div>
                    <div>
                        <div class="text-subheader mb-2 border-bottom bd-default pb-4">NPM</div>
                        <div>Install Metro UI source Less and JavaScript files via <a href="https://npmjs.com/@olton/metroui">npm</a> and build your custom set.</div>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 border bd-default border-radius-10 p-6">
                <div class="feature-card flex-column flex-align-center">
                    <div class="feature-card__image">
                        <Image src="/images/upload.svg" alt="" width="100" height="160"/>
                    </div>
                    <div>
                        <div class="text-subheader mb-2 border-bottom bd-default pb-4">Download</div>
                        <div>Download and use Metro UI source Less and JavaScript files from <a href="https://github.com/olton/Metro-UI-CSS">GitHub</a>.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
