---
import {Image} from "astro:assets"
---
<section class="container-fluid mt-20 mb-10 accent-block pt-10 pb-10">
    <div class="container">
        <h1 class="text-header text-center"><span class="reduce-3">Lib <span class="fg-red">&lt;Struct&gt;</span></span></h1>
        <div class="mt-4">
            Metro UI offers the developer: common styles and useful javascript functions, 9 specialized modules, and 100+ ready to use components.
            Metro UI contains the <b>Dom</b> module for interacting with the DOM, modules for working with dates, strings, color and more... 
            All parts are written by the same author, so Metro UI has <kbd>zero-dependency</kbd>.
            <p><p>Metro UI consists of five parts:
        </div>
        <div class="row mt-4">
            <div class="cell-lg-one-fifth cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">1</div>
                    <Image src="/images/css.svg" alt="" width="96" height="96"/>
                    <div class="mt-4 text-subheader-secondary">Common CSS</div>
                    <div class="reduce-4 text-center mt-4">
                        contains styles for: display, flex, border, cursor, floating, sizing and positioning, typography, and base themes colors
                    </div>
                </div>
            </div>
            <div class="cell-lg-one-fifth cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">2</div>
                    <Image src="/images/javascript.svg" alt="" width="96" height="96"/>
                    <div class="mt-4 text-subheader-secondary">Common JS</div>
                    <div class="reduce-4 text-center mt-4">
                        contains a lot of usefulness functions, such as an extended list of type and condition checking functions, css functions, and more other
                    </div>
                </div>
            </div>
            <div class="cell-lg-one-fifth cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">3</div>
                    <Image src="/images/module.svg" alt="" width="96" height="96"/>
                    <div class="mt-4 text-subheader-secondary">Libraries</div>
                    <div class="reduce-4 text-center mt-4">
                        libraries for work with datetime, str (for string), farbe (for color), html, animation routines
                    </div>
                </div>
            </div>
            <div class="cell-lg-one-fifth cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">4</div>
                    <Image src="/images/product-manager.svg" alt="" width="96" height="96"/>
                    <div class="mt-4 text-subheader-secondary">Components</div>
                    <div class="reduce-4 text-center mt-4">
                        more than 100 components for almost all cases: inputs, cards, menus, and others
                    </div>
                </div>
            </div>
            <div class="cell-lg-one-fifth cell-sm-6">
                <div class="box d-flex flex-column flex-center h-100">
                    <div class="box-number">5</div>
                    <Image src="/images/icons.svg" alt="" width="96" height="96"/>
                    <div class="mt-4 text-subheader-secondary">Icons</div>
                    <div class="reduce-4 text-center mt-4">
                        Metro Icons Font includes 800+ useful icons for your application
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
