---
import {Image} from "astro:assets"
---
<section class="container-fluid prefooter pt-4 pb-4">
    <div class="container">
        <div>
            <div class="text-center text-subheader">
                Technical Partners
            </div>
            <ul class="inline-list d-flex flex-center gap-10 mt-10 mb-10"> 
                <li><a href="https://keycdn.com"><Image src="/images/logos/keycdn.svg" width="200" height="200" alt="KeyCDN.com"/></a></li>
                <li class="ml-10 mr-10"><a href="https://jetbrains.com"><Image src="/images/jetbrains.svg" width="200" height="200" alt="JetBrains.com"/></a></li>
                <li><a href="https://mirohost.net"><Image src="/images/logos/mirohost.svg" width="200" height="200" alt="Mirohost.net"/></a></li>
            </ul>
            <div class="text-center">
                Thank you for tech support
            </div>
        </div>
    </div>
</section>
